:root {
	--color-white: #ffffff;
	--color-light: #f1f5f9;
	--color-black: #121212;
	--color-night: #001632;

	--color-red: #f44336;
	--color-blue: #1a73e8;
	--color-gray: #80868b;
	--color-grayish: #dadce0;

	--shadow-normal: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
		0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

html {
	font-size: 100%;
	font-size-adjust: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
	list-style: none;
	list-style-type: none;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5;
	color: var(--color-black);
	background: var(--color-white);
}

a,
button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}

/* Components */
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 80rem;
	min-height: 100vh;
	width: 100%;
	padding: 0 2rem;
	margin: 0 auto;
}

.text {
	font-family: inherit;
	line-height: inherit;
	text-transform: unset;
	text-rendering: optimizeLegibility;

	&-large {
		font-size: 2rem;
		font-weight: 700;
		color: var(--color-black);
	}

	&-normal {
		font-size: 1rem;
		font-weight: 400;
		color: var(--color-black);
	}

	&-links {
		font-size: 1rem;
		font-weight: 400;
		color: var(--color-blue);

		&:hover {
			text-decoration: underline;
		}
	}
}

/* Main */
.main .wrapper {
    max-width: 28rem;
    width: 100%;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 0.5rem;
    color: var(--color-black);
    background: var(--color-white);
    box-shadow: var(--shadow-medium);
}

.main .wrapper .heading {
    text-align: center;
}

.main .wrapper .form {
    width: 100%;
    height: auto;
    margin-top: 2rem;
}

.main .wrapper .form .input-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}

.main .wrapper .form .input-field {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    width: 100%;
    height: auto;
    padding: 0.75rem 1.25rem;
    border: 1px solid var(--color-grayish);
    outline: none;
    border-radius: 2rem;
    color: var(--color-black);
    background: var(--color-light);
    text-transform: unset;
    text-rendering: optimizeLegibility;
}

.main .wrapper .form .input-field:focus {
    border-color: var(--color-blue);
}

.main .wrapper .form .input-submit {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: inherit;
    cursor: pointer;
    width: 100%;
    height: auto;
    padding: 0.75rem 1.25rem;
    border: none;
    outline: none;
    border-radius: 2rem;
    color: var(--color-white);
    background: var(--color-blue);
    box-shadow: var(--shadow-medium);
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
}

/* Alert box for errors */
.alert {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 2rem;
    font-size: 0.95rem;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    text-align: center;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    text-align: center;
}